/* @import url("./src/assets/fonts/Roboto-Bold.ttf") */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family:roboto_bold;
    src:url("/fonts/Roboto-Bold.ttf")
  }
  @font-face {
    font-family:roboto_regular;
    src:url("/fonts/Roboto-Regular.ttf")
  }
}